apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend
        image: <FRONTEND_IMAGE_PLACEHOLDER> # We will replace this
        ports:
        - containerPort: 80 # Nginx default port
